/*--------------------------------------------------------------
Variables for colors, breaking points and other stuff.
--------------------------------------------------------------*/
/*--------------------------------------------------------------
General widths and measurements
--------------------------------------------------------------*/

$max-width-widest: 1680px;
$max-width-wide: 1440px;
$max-width-medium-wide: 1200px;
$max-width-medium: 1090px;
$max-width-small: 860px;

/*--------------------------------------------------------------
Font family
--------------------------------------------------------------*/
$font-stack :  		'';
$font-header :  	'';

/*--------------------------------------------------------------
Breaking points (replicate bootstrap values)
--------------------------------------------------------------*/
$bp-small : 480px;
$bp-med : 768px;
$bp-large : 992px ;
$bp-xl : 1200px;
$bp-xl-2 : 1400px;
// $bp-xl-2 : 80em;
// $bp-xl-3 : 100em;

/*--------------------------------------------------------------
Color scheme
--------------------------------------------------------------*/
$color-light-1 : #fff;
